<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta
      content="Mashup templates have been developped by Orson.io team"
      name="author"
    />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./static/assets/apple-icon-180x180.png"
    />
    <link href="./static/assets/favicon3.ico" rel="icon" />

    <title>Project-2</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet" />
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="./index.html" title="">01 : Home</a></li>
              <li><a href="./works.html" title="">02 : Works</a></li>
              <li><a href="./about.html" title="">03 : About me</a></li>
              <li><a href="./contact.html" title="">04 : Contact</a></li>
            </ul>

            <ul
              class="nav navbar-nav navbar-right navbar-small visible-md visible-lg"
            >
              <li><a href="./work.html" title="" class="active">001</a></li>
              <li><a href="./work2.html" title="">002</a></li>
              <li><a href="./work3.html" title="">003</a></li>
              <li><a href="./work4.html" title="">004</a></li>
              <li><a href="./work5.html" title="">005</a></li>
              <li><a href="./work6.html" title="">006</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <img
              src="./static/assets/images2/work002-01.jpg"
              class="img-responsive"
              alt=""
            />
            <div class="card-container">
              <div class="text-center">
                <h1 class="h2">002 : Hacker News Scraper</h1>
              </div>
              <h3>OVERVIEW:</h3>
              <p>
                This Python-based project presents a specialized Hacker News scraper designed to fetch and customize data from the Hacker News website. 
                It effectively reads a list of URLs from a text file, scrapes specified pages for news articles, and processes the data to filter and sort the articles by the number of upvotes. 
                The final output is a refined list of articles, each with more than 99 upvotes, thus ensuring a focus on popular and relevant news.
              </p>
              <h3>DEVELOPMENT PROCESS:</h3>
              <p>
                The development of this scraper began with a clear goal: to filter and sort the vast amount of content on Hacker News to find the most relevant and popular articles. 
                The process involved designing an algorithm capable of reading URLs, scraping web pages, and processing the extracted data. 
                A key focus was on developing a robust system that could handle the dynamic nature of web content while maintaining efficiency and accuracy.
              </p>
              <!--blockquote>
                <p>
                  Amidst the vast ocean of digital narratives, the art of streamlining Hacker News insights stands as a beacon, guiding us through the currents of technology and curating the most impactful trends
                </p>
                <small class="pull-right">Irina Martin</small>
              </blockquote-->
              <h3>UTILIZED TECHNOLOGIES:</h3>
              <p>
                <strong>Python 3.x:</strong>Chosen for its powerful libraries and ease of use in handling web scraping tasks. <br>
                <strong>BeautifulSoup:</strong> Utilized for its efficiency in parsing HTML and extracting necessary data.<br>
                <strong>Requests Library:</strong> Employed to fetch the content from the Hacker News website..
              </p>


              <h3>FEATURES:</h3>
              <p>
                Efficiently scrapes multiple pages of Hacker News.<br>
                Filters and includes only articles with more than 99 upvotes.<br>
                Sorts articles based on their upvote count.<br>
                Utilizes BeautifulSoup for streamlined HTML parsing.
              </p>

              <h3>INSIGHTS:</h3>
              <p>
                Through this project, I gained a deeper understanding of web scraping, data processing, and the challenges associated with extracting information from dynamic websites. 
                The project highlighted the importance of writing efficient and adaptable code to handle various formats and structures of web content. 
                Implementing the BeautifulSoup library for HTML parsing provided insights into the power of Python's ecosystem for data manipulation. 
                The successful execution of this scraper reinforced my knowledge in web scraping and data filtering techniques, as well as the importance of presenting information in an accessible and relevant format.
              </p>
            </div>


          <!--div class="col-md-8 col-md-offset-2 section-container-spacer">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <img
                  src="./static/assets/images/work001-02.jpg"
                  class="img-responsive"
                  alt=""
                />
                <p>Menphis skyline</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img
                  src="./static/assets/images/work001-03.jpg"
                  class="img-responsive"
                  alt=""
                />
                <p>Menphis skyline</p>
              </div>
            </div>
          </div-->

          <div class="col-xs-12">
            <a
              class="black-image-project-hover"
            >
              <img 
                src="./static/assets/images2/work002-02-hover.jpg" 
                class="img-responsive" 
                style="display: block; margin: auto;" 
                alt="" 
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>
              © PORTFOLIO | Website created with
              <!--a
                href="http://www.mashup-template.com/"
                title="Create website with free html template"
                >Mashup Template</a
              -->/<a
                href="https://www.unsplash.com/"
                title="Beautiful Free Images"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
    <script type="text/javascript" src="./static/main.70a66962.js"></script>
  </body>
</html>
